---
import { render } from "astro:content";
import { getCollection } from "astro:content";
import EntryLayout from "../../layouts/EntryLayout.astro";
import { slugify } from "../..";

export async function getStaticPaths() {
  const articles = await getCollection("articles");
  return articles.map(({ data }) => ({
    params: { article: slugify(data.title) },
  }));
}
const { article } = Astro.params;
const contents = await getCollection(
  "articles",
  (e) => slugify(e.data.title) == article
);
const content = contents[0]!;
const { Content } = await render(content);
---

<EntryLayout collection="articles" {...content.data}>
  <section class="section e-content">
    <article class="container is-max-desktop content">
      <Content />
    </article>
  </section>
</EntryLayout>
