---
import { getCollection } from "astro:content";
import CollectionLayout from "../../layouts/CollectionLayout.astro";
import Menu from "../../islands/recipes";
import type { Recipe } from "../..";
import Introduction from "../../components/Introduction.astro";
import { preprocessRecipe } from "../../content/config";

const recipes = await getCollection("recipes");
const nodes: Recipe[] = await Promise.all(recipes.map(preprocessRecipe));
---

<CollectionLayout collection="recipes">
  <Introduction collection="recipes">
    <p>唯爱与美食不可辜负。</p>
    <p>
      生于山东烟台，齐鲁大地的丰饶物产培育了我对鲁菜简单的热爱；长于北京海淀，来自五湖四海的珍馐美馔又激发着我对它们真实的好奇。然则一身长居远邦，佳肴难得，自己下厨丰衣足食也就成为了必然。所幸身边有不少厨艺高手与饕餮客，探寻美食的同时也可以广结良友。
    </p>
    <p>
      您可以在下方查看我近期做过的菜品，选择几味您感兴趣的并预约时间登门品尝；您也可以只预约时间而不指定菜品，我将会根据当日可得的食材即兴发挥。
    </p>
  </Introduction>
  <Menu nodes={nodes} client:only />
</CollectionLayout>
