@charset "utf-8";

$navbar-height: 4rem;
$content-heading-weight: 400;
$dropdown-menu-min-width: 1rem;
$timeline-marker-color: white;
$footer-padding: 3rem 1.5rem 4rem;

@import "~bulma/bulma.sass";
@import "~bulma-timeline/dist/css/bulma-timeline.sass";
