@charset "utf-8";

@use "bulma/sass/utilities";
@use "bulma/sass/base";
@use "bulma/sass/components/card";
@use "bulma/sass/components/modal";
@use "bulma/sass/components/menu";
@use "bulma/sass/components/navbar" with ($navbar-height: 4rem);
@use "bulma/sass/elements/box";
@use "bulma/sass/elements/button";
@use "bulma/sass/elements/icon";
@use "bulma/sass/elements/content" with ($content-heading-weight: 400);
@use "bulma/sass/elements/tag";
@use "bulma/sass/form";
@use "bulma/sass/grid/columns";
@use "bulma/sass/layout/container";
@use "bulma/sass/layout/footer" with ($footer-padding: 3rem 1.5rem 4rem);
@use "bulma/sass/layout/level";
@use "bulma/sass/layout/section";
@use "bulma/sass/helpers/flexbox";
@use "bulma/sass/helpers/spacing";
@use "bulma/sass/helpers/typography";
@use "bulma/sass/helpers/visibility";
@use "bulma/sass/themes";

.entry-metadata {
    background-color: hsl(216, 100%, 95%);
}

.home {
    --gradient: hsl(196, 100%, 89%);
}

.articles {
    --gradient: hsl(0, 100%, 95%);
}

.photos {
    --gradient: hsl(34, 80%, 88%);
}

.videos {
    --gradient: hsl(54, 76%, 92%);
}

.musics {
    --gradient: hsl(165, 57%, 86%);
}

.recipes {
    --gradient: hsl(180, 83%, 88%);
}

.dresses {
    --gradient: hsl(260, 75%, 92%);
}

@media (prefers-color-scheme: dark) {
    .entry-metadata {
        background-color: hsl(214, 21%, 24%);
    }

    .home {
        --gradient: hsl(196, 33%, 22%);
    }

    .articles {
        --gradient: hsl(0, 15%, 25%);
    }

    .photos {
        --gradient: hsl(32, 39%, 20%);
    }

    .videos {
        --gradient: hsl(53, 39%, 20%);
    }

    .musics {
        --gradient: hsl(122, 39%, 20%);
    }

    .recipes {
        --gradient: hsl(180, 40%, 20%);
    }

    .dresses {
        --gradient: hsl(260, 39%, 20%);
    }
}

.introduction {
    background-image: linear-gradient(to bottom, var(--gradient), var(--bulma-body-background-color));
    font-size: 125%;
}

.fit {
    height: 100%;
    object-fit: cover;
}

.quote {
    margin: 2rem auto;
    padding: 0 2rem;
    max-width: 700px;
    line-height: 1.8;
    border: none;
    color: var(--bulma-text);
}

.quote::before {
    content: "“ ";
    color: var(--bulma-text);
    font-size: 4em;
    font-family: Arial, serif;
    line-height: 1em;
    font-weight: 700;
}

.box {
    padding: 0;
    overflow: hidden;
}

.box.columns {
    .column {
        padding: 0;
    }

    .column.content {
        padding: 1.5rem;
    }
}

.gap-1 {
    gap: 1rem;
}

.dish {
    width: 330px;
    height: 180px;
    padding: 0;
    overflow: hidden;
    display: flex;

    .dish-image {
        width: 180px;
        height: 180px;

        img {
            display: block;
            width: 100%;
        }
    }

    .content {
        width: 150px;
        height: 180px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0.5rem;
    }
}

.card-left {
    display: block;
    object-fit: cover;
    object-position: center;
    aspect-ratio: 2 / 1;
}

.content img {
    display: block;
    margin: 0 auto;
    // padding: 0 10%;
}

.photo-gallery {
    display: block;
    object-fit: cover;
    object-position: center;
    height: 300px !important;
}

.content em {
    font-style: normal;
    font-weight: 600;
}

.math-display {
    text-align: center;
    margin: 1em;
    overflow: scroll;
}

a {
    word-wrap: break-word;
}

a.in-paragraph {
    text-decoration: underline !important;
}

.level-left,
.level-right {
    flex-direction: row !important;
}

.card-footer-item,
.card-header-title {
    display: flex;
    gap: 0.5rem;
}

.date-tag {
    min-width: 4rem;
}

.bilibili-wrapper {
    position: relative;
    padding: 30% 45%;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 1024px) {
    .navbar-menu {
        text-align: center;
    }
}