---
import Introduction from "../components/Introduction.astro";
import CollectionLayout from "../layouts/CollectionLayout.astro";
---

<CollectionLayout>
  <Introduction collection="home">
    <h1>未找到页面</h1>
    <p>
      您访问的页面目前还没有被创建。<a href="/">返回主页</a>。
    </p>
  </Introduction>
</CollectionLayout>
