---
interface Props {
  date: string;
}

const { date } = Astro.props;
---

<header class="timeline-header">
  <span class="tag is-medium is-info" style={{ minWidth: "4rem" }}>
    {date}
  </span>
</header>
