---
import { Icon } from "astro-icon/components";
import collections, { title } from "..";
interface Props {
  collection?: string;
}
---

<script>
  document.getElementById("navbar-burger")?.addEventListener("click", () => {
    document.getElementById("navbar-menu")?.classList.toggle("is-active");
    document.getElementById("navbar-burger")?.classList.toggle("is-active");
  });
</script>

<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="content is-medium container">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        🍭️ {title}
      </a>
      <a
        role="button"
        id="navbar-burger"
        class="navbar-burger"
        aria-label="menu"
        aria-expanded="false"
        data-target="navbarBasicExample"
      >
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div id="navbar-menu" class="navbar-menu">
      <div class="navbar-start ml-auto mr-0">
        {
          Object.entries(collections)
            .filter(([x]) => x !== "dresses")
            .map(([type, { name, icon }]) => (
              <a
                href={`/${type}/`}
                class="navbar-item is-flex is-align-items-center is-justify-content-center"
              >
                <span class="icon">
                  <Icon name={icon} />
                </span>
                <span>{name}</span>
              </a>
            ))
        }
      </div>
      <div class="navbar-end">
        <div class="navbar-item">
          <a href="/rss.xml" class="button is-info">
            <strong>订阅</strong>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
