---
import { Icon } from "astro-icon/components";
import collections, { title } from "..";
interface Props {
  collection?: string;
}
---

<script>
  function handleClick() {
    const navbarMenu = document.getElementById("navbarControl");
    if (navbarMenu) {
      navbarMenu.classList.toggle("is-active");
    }
  }
</script>

<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="content is-medium container">
    <div class="navbar-brand">
      <a
        class="navbar-item"
        style={{ fontSize: "1.5rem", padding: "0 1.5rem" }}
        href="/"
      >
        🍭️ {title}
      </a>

      <a
        role="button"
        class="navbar-burger"
        aria-label="menu"
        aria-expanded="false"
        data-target="navbarBasicExample"
        onclick="handleClick"
      >
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div class="navbar-menu">
      <div
        class="navbar-start"
        style={{ justifyContent: "center", marginLeft: "auto" }}
      >
        {
          Object.entries(collections)
            .filter(([x]) => x !== "dresses")
            .map(([type, { name, icon }]) => (
              <a
                href={`/${type}/`}
                class={
                  "navbar-item" +
                  (type === Astro.props.collection ? " is-selected" : "")
                }
              >
                <Icon name={icon} />
                <span>{name}</span>
              </a>
            ))
        }
      </div>
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a href="/rss.xml" class="button is-info">
              <strong>订阅</strong>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
