---
import { Image } from "astro:assets";
import mitao from "../assets/mitao.gif";
---

<section class="section introduction-home">
  <div class="container is-max-widescreen">
    <div class="columns is-vcentered">
      <div class="column is-one-third">
        <Image src={mitao} alt="avatar" />
      </div>
      <div class="column content">
        <p>欢迎来到我的个人网站！我是谭淞宸。</p>
        <p>
          1974 年，Internet 一词第一次出现在 RFC
          提案中，标志着世界各地的小型网络走向互联。1987 年 9 月 14
          日，北京计算机应用技术研究所发出了中国第一封电子邮件：「
          <i>Across the Great Wall we can reach every corner in the world.</i>
          」。几十年后的今天，商业化的互联网中我们接收到的绝大多数信息来自科技公司的整合与推送，但是我们仍然可以以个人网站的形式保留并发出自己独立的声音。
        </p>
        <p>
          我自诩为一位创造者，凡是将人类的心智外化于物、创造出本不属于这个世界的实体从而实现自我的活动都令我兴致勃勃，写文章、敲代码、玩音乐、拍视频……我想自古以来的文人墨客都要给自己的书斋、画室起个名号，我也不能免俗地依志趣把这个网站称作「
          <span>众妙斋</span>」。您可以在导航栏中发现各个版块。祝您浏览愉快！
        </p>
        <p>
          除此之外，本页面的下方区域还包含了我的经历的简单介绍，希望这些经历可以更好地让您了解我自己。另外，如果您认为我的专长可能对您有所帮助，欢迎您通过页面下方的联系方式与我联系。
        </p>
      </div>
    </div>
  </div>
</section>
