---
import { getCollection } from "astro:content";
import EntryLayout from "../../layouts/EntryLayout.astro";
import { slugify, type Music } from "../..";
import DownloadItem from "../../components/DownloadItem.astro";
import { preprocessMusic } from "../../content/config";

export async function getStaticPaths() {
  const musics = await getCollection("musics");
  return musics.map(({ data }) => ({
    params: { music: slugify(data.properties.Title) },
  }));
}
const contents = await getCollection(
  "musics",
  (e) => slugify(e.data.properties.Title) == Astro.params.music
);
const music: Music = await preprocessMusic(contents[0]!);
---

<EntryLayout collection="musics" {...music}>
  <section class="section e-content">
    <div class="container is-max-desktop">
      <div class="columns">
        <DownloadItem name={"乐谱"} url={music.score} icon="fa6-solid:music" />
        <DownloadItem
          name={"源码"}
          url={music.lilypond}
          icon="fa6-solid:code"
        />
      </div>
    </div>
    {
      music.url && (
        <article class="container content is-max-desktop">
          <div style={{ position: "relative", padding: "30% 45%" }}>
            <iframe
              style={{
                position: "absolute",
                width: "100%",
                height: "100%",
                left: "0",
                top: "0",
              }}
              src={music.url + "&high_quality=1"}
              scrolling="no"
              data-border="0"
              data-frameborder="no"
              data-framespacing="0"
              data-allowfullscreen="true"
            />
          </div>
        </article>
      )
    }
  </section>
</EntryLayout>
