---
import type { DataEntryMap } from "astro:content";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import "../styles/index.scss";
import collections from "..";

interface Props {
  collection?: keyof DataEntryMap;
}

const { collection } = Astro.props;
const title = collection ? `众妙斋・${collections[collection].name}` : "众妙斋";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="谭淞宸的个人网站" />
    <link
      rel="webmention"
      href="https://webmention.io/tansongchen.com/webmention"
    />
    <link rel="pingback" href="https://webmention.io/tansongchen.com/xmlrpc" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="has-navbar-fixed-top">
    <Header collection={collection} />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
